@{
    ViewBag.Title = "Home Page";
}


    <style type="text/css">

        </style>

<center><img src="usuarios.jpg"></center>


    <h1>Contenido del archivo index.cshtml Views/Home</h1>



    


